:root {
  --background-gradient: linear-gradient(
    135deg,
    #ffadad,
    #ffd6a5,
    #fdffb6,
    #caffbf,
    #9bf6ff,
    #a0c4ff,
    #bdb2ff,
    #ffc6ff,
    #fffffc
  );
  --foreground: #171717;
  --primary-pink: #ff6b8a;
  --secondary-pink: #ffc0cb;
}

html,
body {
  margin: 0;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--foreground);
  background: var(--background-gradient);
  background-size: 1800% 1800%;
  animation: gradientRotate 30s ease infinite;
  max-width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes gradientRotate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  color: var(--primary-pink);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--secondary-pink);
}
